* {
  margin: 0px;
  padding: 0;
  font-family: "Arimo", sans-serif;
  box-sizing: border-box;
}

/* typography ********* */
body {
  background-color: #464c5c;
}
.blog_header {
  background: url(../images/banner.jpg) no-repeat;
  background-size: cover;
  color: aliceblue;
  padding: 1em 0;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.2rem;
  margin-bottom: 2em;
}

p {
  margin-bottom: 1em;
  line-height: 1.75em;
}
img {
  width: 100%;
  max-width: 100%;
}
span {
  font-size: 1.4rem;
}

p {
  font-size: 1rem;
}

nav {
  display: none;
}
nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav li {
  font-size: 1rem;
}

nav a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}
nav a:hover,
nav a:focus {
  color: #ff0;
}

.hearer_subtitle {
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 1em;
}

/*  */
.blog_header {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 6em;
}

.blog_row {
  width: 83.5%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.contact_me_row {
  background-color: #464c5c;
}
.contact_me {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fff;
  margin-bottom: 5em;
}

.contact_me_form {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.contact-us-input-container label {
  position: relative;
  top: 35px;
  float: left;
  left: 9px;
  z-index: 130;
  font-weight: 700;
  width: 24px;
  height: 24px;
}
.contact-us-form-right,
.contact-us-form-left {
  width: 45%;
}
.contact-us-form-right textarea {
  width: 100%;
  min-height: 221px;
  font-size: 1em;
  padding: 1em;
  padding-left: 3em;
  margin-bottom: 2em;
}
.contact-us-form-right input {
  width: 100%;
  padding: 1em;
  font-size: 1.2em;
  border: 1px gray solid;
  border-radius: 5px;
  color: #fff;
  background-color: #9ccbc0;
}
.contact-us-form-left input {
  width: 100%;
  padding: 1em;
  font-size: 1em;
  padding-left: 3em;
  margin-bottom: 0.3em;
}

.contact-us-name-label {
  background: url(../images/icons/contact-user.png) left top no-repeat;
}
.contact-us-phone-label {
  background: url(../images/icons/contact-phone.png) left top no-repeat;
}
.contact-us-email-label {
  background: url(../images/icons/contact-email.png) left top no-repeat;
}
.contact-us-message-label {
  background: url(../images/icons/contact-pencil.png) left top no-repeat;
}

.footer {
  background-color: #1d1d1d;
  padding-top: 4em;
}

.footer h3 {
  color: #fff;
}

.footer_list {
  list-style: none;
}
.footer_list li {
  border-bottom: 1px rgba(255, 255, 255, 0.1) solid;
  margin-bottom: 0.8em;
  padding-bottom: 0.8em;
}
.footer_list li:last-child {
  border: none;
}
.footer_list a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
}
.footer .blog_row {
  margin-bottom: 2em;
}

.blog_row:last-child {
  margin-bottom: 0;
}

.copyright {
  background-color: #050404;
  padding: 3em 0;
}
.copyright a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.3);
}

.copyright_row {
  width: 83.5%;
  margin: 0 auto;
  text-align: center;
  color: rgba(255, 255, 255, 0.2);
}
@media screen and (min-width: 680px) {
  nav {
    display: block;
  }
  .hearer_title {
    margin-bottom: 0.5em;
  }
  .blog_header {
    padding: 2em 0;
  }
  nav ul {
    flex-direction: row;
    justify-content: center;
  }
  nav li {
    padding: 1em 1.5em;
  }
  .active {
    border: 1px #fff solid;
    border-radius: 40px;
  }

  .active a {
    color: #fff;
  }
  .active a:hover {
    color: #fff;
  }

  .blog_row {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer {
    display: flex;
    flex-direction: row;
  }

  .footer_row {
    width: 27%;
  }
}
