* {
  margin: 0px;
  padding: 0;
  font-family: "Arimo", sans-serif;
  box-sizing: border-box;
}

/* typography ********* */

.blog_header {
  background: url(../images/banner.jpg) no-repeat;
  background-size: cover;
  color: aliceblue;
  padding: 1em 0;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3rem;
  text-align: center;
}

h3 {
  font-size: 1.2rem;
  margin-bottom: 2em;
}

p {
  margin-bottom: 1em;
  line-height: 1.75em;
}
img {
  width: 40%;
  max-width: 100%;
  border-radius: 50%;
  border: 12px #acac9d solid;
  margin-bottom: 1em;
}
span {
  font-size: 1.4rem;
}

p {
  font-size: 1rem;
}

nav {
  display: none;
}
nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav li {
  font-size: 1rem;
}

nav a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}
nav a:hover,
nav a:focus {
  color: #ff0;
}

.hearer_subtitle {
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 1em;
}

/*  */
.blog_header {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 6em;
}

.blog_row {
  width: 83.5%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.personal_info,
.personal_info_email_tel,
.personal_info_email_tel_1,
.personal_info_email_tel_2,
.personal_info_email_profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
}

.personal_info_email_tel_1 p {
  color: #acac9d;
}

.personal_info_email_tel_2 p {
  color: #d90d5b;
  font-size: 0.8em;
  text-align: center;
  margin-bottom: 0.1em;
}
.personal_info_email_profile p {
  width: 100%;
}

.Employment,
.Skills,
.Education {
  display: flex;
  flex-direction: column;
  margin-bottom: 4em;
}

.title {
  color: #0092c4;
  font-size: 2em;
}

.job_title,
.education_title {
  font-size: 1em;
  font-weight: bold;
}

.education_date,
.job_date {
  color: #d90d5b;
  font-size: 0.7em;
}
.footer {
  background-color: #1d1d1d;
  padding-top: 4em;
}

.footer h3 {
  color: #fff;
}

.footer_list {
  list-style: none;
}
.footer_list li {
  border-bottom: 1px rgba(255, 255, 255, 0.1) solid;
  margin-bottom: 0.8em;
  padding-bottom: 0.8em;
}
.footer_list li:last-child {
  border: none;
}
.footer_list a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
}
.footer .blog_row {
  margin-bottom: 2em;
}

.blog_row:last-child {
  margin-bottom: 0;
}

.copyright {
  background-color: #050404;
  padding: 3em 0;
}
.copyright a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.3);
}

.copyright_row {
  width: 83.5%;
  margin: 0 auto;
  text-align: center;
  color: rgba(255, 255, 255, 0.2);
}
@media screen and (min-width: 680px) {
  nav {
    display: block;
  }
  .hearer_title {
    margin-bottom: 0.5em;
  }
  .blog_header {
    padding: 2em 0;
  }
  nav ul {
    flex-direction: row;
    justify-content: center;
  }
  nav li {
    padding: 1em 1.5em;
  }
  .active {
    border: 1px #fff solid;
    border-radius: 40px;
  }

  .active a {
    color: #fff;
  }
  .active a:hover {
    color: #fff;
  }

  .footer {
    display: flex;
    flex-direction: row;
  }

  .footer_row {
    width: 27%;
  }
}
